
    <link rel="stylesheet" href="../assets/CSS/login.css" />
    <!-- login Container -->
    <div class="login_container">
      <div>
        <h4 class="display-4">
          Login Panel
        </h4>
      </div>
      <hr>
      <form action="/user/create-session" method="POST">
        <div class="form_container">
          <div class="form-floating mb-3">
            <input
              name="email"
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
              required
            />
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input
              name="password"
              type="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Password"
              required
            />
            <label for="floatingPassword">Password</label>
          </div>
          <div class="d-grid gap-2 col-6 mx-auto form_button">
            <input class="btn btn-primary" type="submit" value="Login" />
          </div>
          <div class="form_link">
            <p>
              Don't have an account?
              <a href="/user/signup" class="link-info">Sign Up</a>
            </p>
          </div>
        </div>
      </form>
    </div>

