
    
    <link rel="stylesheet" href="../assets/CSS/login.css" />
    <!-- Signup Container -->


    <div class="login_container">
      <div>
        <h4 class="display-4">Sign Up</h4>
      </div>
      <hr>
      <form action="/user/create-user" method="POST">
        <div class="form_container">
          <div class="form-floating mb-3">
            <input
              name="name"
              type="text"
              class="form-control"
              placeholder="User name"
              required
            />
            <label for="floatingInput">User name</label>
          </div>
          
          <div class="form-floating mb-3">
            <input
              name="email"
              type="email"
              class="form-control"
              placeholder="name@example.com"
              required
            />
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input
              name="password"
              type="password"
              class="form-control"
              placeholder="Password"
              required
            />
            <label for="floatingPassword">Password</label>
          </div>
          <div class="form-floating mb-3">
            <input
              name="confirmPassword"
              type="password"
              class="form-control"
              placeholder="Confirm Password"
              required
            />
            <label for="floatingPassword">Confirm Password</label>
          </div>
          <div class="d-grid gap-2 col-6 mx-auto form_button">
            <input class="btn btn-primary" type="submit" value="Sign UP" />
          </div>
          <div class="form_link">
            <p>
              Have an account?
              <a href="/user/login" class="link-info">Login in now</a>
            </p>
          </div>
        </div>
      </form>
    </div>
 
